@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 690px;
    max-width: 1505px;    
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    color: #232323;
}

.image {
    height: 689.5px;
}

.image img {
    position: absolute;
    bottom: 0;
    width: 752px;
    object-fit: cover;
    padding: 0;
    height: 100%;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* position: relative; */
}

form h1 {
    font-size: 50px;
    align-self: flex-start;
    padding-left: 141px;
}

form .inputbox {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
}

form .inputbox input {
    padding: 15px 0 15px 60px;
    width: 175%;
    align-self: center;
    font-family: Poppins;
    margin-top: 3px;
    border-radius: 5px;
    border: #a7a6a6 1px solid;
}

form .inputbox label {
    margin-left: -52%;
    padding-top: 20px;
    font-weight: 600;
}

form .inputbox img {
    width: 25px;
    height: 25px;
    position: absolute;
}

form .inputbox #showpass1 {
    width: 25px;
    height: 25px;
    position: absolute;

    border: 0;
    background-color: white;

    cursor: pointer;
}

form .inputbox #img1 {top:31%; left:-39%; opacity:0.5;}
form .inputbox #img2 {top:79%; left:-39%; opacity:0.5;}
form .inputbox #showpass1 {top:80%; left: 130%;;}
form .inputbox #img3 {top: 0; left: 0; opacity:0.5}
form .inputbox #img4 {top: 0; left: 0; display: none;}

form .inputbox #errorEmail {
    width: 450px;
    position: absolute;
    right:-110px;
    top: 100px;
    font-size: 12px;
    color: red;

    display: none;

}
form .inputbox #errorPass1 {
    width: 450px;
    position: absolute;
    right:-110px;
    top: 198px;
    font-size: 12px;
    color: red;

    display: none;

}


form .bttns {
    position: relative;
}
form .bttns #img3 {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 84%;
    right: 67%;
}

form #ok {
    margin: 20px;
    margin-bottom: 0;
    padding: 15px 193px 15px 193px;
    background-color: #232323;
    color: white;
    font-family: Poppins;
    font-size: 20px;
    border-radius: 5px;
}
form #walletlog {
    margin: 20px;
    margin-bottom: 0;
    padding: 15px 149.5px 15px 149.5px;
    background-color: #232323;
    color: white;
    font-family: Poppins;
    font-size: 20px;
    border-radius: 5px;
}

form button {
    cursor: pointer;
}

form .links {
    display: flex;
    width: 455px;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 20px;
}
form .links a {
    color: #232323;
}

form .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 25px;
    margin-top: 40px;
    margin-left: 20px;
    width: 455px;
}
form .divider p {
    border-bottom: 1px solid #a7a6a6;
    height: 1px;
    width: 150px;
}

form footer {
    bottom: 0;
    position: absolute;
    font-size: 13px;
}

form footer ul {
    list-style: none;
}
form footer li {
    display: inline;
    padding: 15px 15px 0 15px;
    margin-top: 500px;
}

form footer a {
    text-decoration: none;
    color: #232323;
}


@media screen and (max-width:1400px) {
    .image img {
        width: 700px;
        height: 100%;
    }
    
}
@media screen and (max-width:1300px) {
    .image img {
        width: 600px;
    }
    
}
@media screen and (max-width:1160px) {
    .image img {
        width: 500px;
        height: 100%;
    }
    
}
@media screen and (max-width:1030px) {
    body {
        grid-template-columns: 0 1fr;
    }

    .image img {
        display: none;
    }

    .form h1 {
        align-self: center;
        padding-left: 0;
        padding-right: 270px;
    }
}